/* PARA FONT-SIZE Y LINE-HEIGHT SE UTILIZA REM PARA QUE SEA RELATIVO AL TAMAÑO DE LA RAÍZ (HTML) Y ASÍ PERMITIR UNA MEJOR ESCALABILIDAD Y ACCESIBILIDAD EN DIFERENTES DISPOSITIVOS. */
/* 1rem = 10px */

:root{
    --color-diferencial: #E67E22; 
    --color-fondo: #FFECA3;
    --color-acento: #B470BA;
    --color-texto:  #2D3748;
    --fuente: "Barlow", sans-serif;
}

html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}


a{
    color: inherit;
    text-decoration: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-fondo); 
    color: var(--color-texto);
    font-family: var(--fuente);
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
}

header{
    display: flex;
    flex-direction: column;
    background-color: var(--color-diferencial);
    padding: 2rem;
    margin-bottom: 2rem;
    color: white;

    background-image: url('../images/perro1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}


header h1{
    font-size: 4rem;
}

header p{
    font-size: 1.8rem;
    margin-top: 1rem;
}

.top-header{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 1rem;
}

.logo{
    aspect-ratio: 1;
    max-height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titulos{
    display: flex;
    flex-direction: column;
}

nav ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin-top: 0.rem;
}

nav a {
    display: inline-block;
    font-weight: bold;
    transition: transform 0.2s ease;
}

nav a:hover {
    color: var(--color-acento);
    transform: translateY(3px);
}

main{
    flex: 1; /*hace crecer el main para ocupar el espacio disponible entre header y footer  */
    padding: 2rem;
}

p{
    margin-bottom: 1rem;
}



h2{
    font-size: 3rem;
    color: var(--color-diferencial); 
}


h3{
    font-size: 2rem;
    color: inherit;
}

footer{
    margin-top: auto;
    background-color: var(--color-diferencial);
    color: white;
    padding: 2rem;
    margin-top: 2rem;
}

#tabla-contacto{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background: white;
    overflow: hidden;
}

#tabla-contacto thead th{
    text-align: left;
    color: var(--color-texto);
    font-weight: 600;
}

#tabla-contacto tbody tr:hover{
    background: rgba(189, 129, 194, 0.2);
}

.tarjeta-seccion {
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    background-color: white; 
    padding: 2.5rem;
    margin-bottom: 2.0rem;
    border-radius: 0.8rem;
    border: 0.1rem solid var(--color-acento);
}

.tarjeta-seccion h2 {
    color: var(--color-acento); 
    border-bottom: 0.2rem solid var(--color-fondo);
    padding-bottom: 0.5rem;
}

.tarjeta-proyecto {
    min-width: 300px;
    max-width: 27%;
    margin-bottom: 1.5rem;
    background-color: var(--color-acento);
    color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out;
}

.tarjeta-proyecto:hover {
    background-color: white;
    color: var(--color-texto);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
    
}

#Transparencia ul{
    text-decoration: underline;
    list-style: none;
}

.galeria-3 {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.galeria-3 img {
    width: 47%;
    min-width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contenedor-tarjetas-verticales {
    margin-top: 2rem;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

/*Media Queries para Responsividad en pantallas angostas*/

@media (max-width: 768px) { 
    .tarjeta-proyecto {
        max-width: 100%;
    }

    #tabla-contacto {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

