/* PARA FONT-SIZE Y LINE-HEIGHT SE UTILIZA REM PARA QUE SEA RELATIVO AL TAMAÑO DE LA RAÍZ (HTML) Y ASÍ PERMITIR UNA MEJOR ESCALABILIDAD Y ACCESIBILIDAD EN DIFERENTES DISPOSITIVOS. */
/* 1rem = 10px */

:root{
    --color-diferencial: #E67E22; 
    --color-fondo: #FFECA3;
    --color-acento: #B470BA;
    --color-texto:  #2D3748;
    --fuente: "Barlow", sans-serif;
}

html,
body{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto ;
    background-color: var(--color-fondo); 
    color: var(--color-texto);
    font-family: var(--fuente);
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.8;
}

a{
    color: inherit;
    text-decoration: none;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    margin-bottom: 2rem;
    position: sticky;
    top: 0;
    transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
    background-color: var(--color-diferencial);
    color: white;
    z-index: 999;


    background-image: url('../images/perro1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

header h1{
    font-size: 4rem;
}

header p{
    font-size: 1.8rem;
    margin-top: 1rem;
}

.top-header{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 1rem;
}

.logo{
    aspect-ratio: 1;
    max-height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titulos{
    display: flex;
    flex-direction: column;
}

nav{
    align-self:end;
}


/* 
nav ul {
    display: flex;
    gap: 5rem;
    list-style: none;
    margin-top: 0.rem;
}

nav a {
    display: inline-block;
    font-weight: bold;
    transition: transform 0.2s ease;
} MODIFICO LOS SELECTORES POR NO SER COMPATIBLES CON BOOSTRAP*/

nav a:hover {
    color: var(--color-acento);
    transform: translateY(3px);
}

header.compacto{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 2rem;
}

header.compacto .logo{
    max-height: 50px;
}

header.compacto .titulos h1{
    font-size: 2rem;
}

header.compacto .titulos p{
    display: none;
}

main{
    flex: 1; /*hace crecer el main para ocupar el espacio disponible entre header y footer  */
    padding: 2rem;
}

p{
    margin-bottom: 1rem;
}



h2{
    font-size: 3rem;
    color: var(--color-diferencial); 
}


h3{
    font-size: 2rem;
    color: inherit;
}

footer{
    margin-top: auto;
    background-color: var(--color-diferencial);
    color: white;
    padding: 2rem;
    margin-top: 2rem;
}

/* -----Estilos Tarjetas------- */

.tarjeta{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 2.5rem;
    margin-bottom: 2.0rem;
    border-radius: 0.8rem;
}

.tarjeta-seccion {
    background-color: white; 
    border: 0.1rem solid var(--color-acento);
}

.tarjeta-seccion h2 {
    color: var(--color-acento); 
    border-bottom: 0.2rem solid var(--color-fondo);
    padding-bottom: 0.5rem;
}

.tarjeta-proyecto {
    flex: 1 1 300px;
    margin-bottom: 1.5rem;
    background-color: var(--color-acento);
    color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out;
    border: 0.1rem solid var(--color-acento);
}

.tarjeta-proyecto:hover {
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}


.contenedor-tarjetas-verticales {
    margin-top: 2rem;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

#Finanzas{
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

#Historias{
    display: none;
}



/* --------------------------- */
/* Proyectos */

.display-proyectos{
    /* border: solid 3px red; */
}

.proyecto{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
    overflow: hidden;
   /* border: solid 3px green; */
}

.contenedor-titulo{
    display: flex;
    align-items: center;
    height: 20rem;
    width: 100%;
    position: relative;
    /* border: solid 3px blue; */
    margin-bottom: 2rem;
    overflow: hidden;
}

.contenedor-titulo img{
    position: absolute;
    width:50%;
    top:00px;
    left: 50%;
    z-index: -1;
}

.fade-left {
    mask-image: linear-gradient(to left, black 50%, transparent 100%);
    -webkit-mask-image: linear-gradient(to left, black 50%, transparent 100%);
}

.inf-gral{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card-gde{
    padding: 2rem;
    max-width: 30%;
    border-radius: 20px;
    background-color: beige;
    box-shadow: 0 2px 11px 0px #0000003a;
}

.card-gde:not(.obj-e){
    display: flex;
    flex-direction: column;
    align-items: center;
}

.implementacion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card-peq{
    padding: 2rem;
    max-width: 30rem;
    border-radius: 20px;
    box-shadow: 0 2px 11px 0px #0000003a;
}

.item-icon{
    position: relative;
    top: 8px;
    height: 20px;
}

.item-desc{
    display: flex;
    align-items: start;
    justify-content: left;
    gap:1rem;
}

.card-icon{
    height: 100px;
    width: 100%;
    margin-bottom: 2rem;
}

/* --------------------------- */
#tabla-contacto,
#tabla-organizacion{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background: white;
    overflow: hidden;
}

#tabla-contacto thead th{
    text-align: left;
    color: var(--color-texto);
    font-weight: 600;
}

#tabla-contacto tbody tr:hover{
    background: rgba(189, 129, 194, 0.2);
}

.tabla-col-imagen{
    display: flex;
    align-items: center;
    justify-content: center;
}


#Transparencia ul{
    text-decoration: underline;
    list-style: none;
}

.contenedor-imagen{
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 2rem;
    border: 0.2rem solid var(--color-acento);
}

.galeria-3 {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.galeria-3 img {
    width: 47%;
    min-width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.title-banner{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 500px;
    background: linear-gradient(to right, var(--color-fondo) 2%, transparent 30%),
                url('../images/programas/pexels-jaclou-dl-37891868.jpg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: right center;            
}

.title-banner-img{
    overflow: hidden;
}

.title-banner-text{
    width: 80ch;
}

.title-banner-text h1{
    font-size: 7rem;
    font-weight:bold;
}



/*Fix para botones de acordion de bootstrapp*/

.accordion-button{
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
}
.accordion-button:focus{
    outline: none;
    box-shadow: none;
}
.accordion-button:focus-visible{
    outline: 2px solid blue;
}

/*Media Queries para Responsividad en pantallas angostas*/

@media (max-width: 768px) { 
    
    .card-gde,
    .card-peq{
        min-width: 100%;
    }

    #tabla-contacto,
    #tabla-organizacion{
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

