:root{
    --color-diferencial: #E67E22; 
    --color-fondo: #FDE68A;
    --color-acento: #1E293B;
    --color-texto:  #2D3748;
    --fuente: "Barlow", sans-serif;
}

html{
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-fondo); 
    color: var(--color-texto);
    font-family: var(--fuente);
    font-style: normal;
    font-size: 2rem;
    line-height: 1.6;
}

header{
    display: flex;
    flex-direction: column;
    background-color: var(--color-diferencial);
    padding: 20px;
    margin-bottom: 20px;
}

.top-header {
    display: flex;
    align-items: center;
    gap: 20px;
}


nav ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin-top: 0rem;
}

nav a:hover {
    color: #ffffff;
}

main{
    padding: 20px;
}
p{
    font-size: 1.25rem;
    margin-bottom: 10px;
}

h1{
    font-size: 4rem;
    color: var(--color-acento);
}

h2{
    font-size: 3rem;
    color: var(--color-diferencial); 
}


h3{
    font-size: 2.5rem;
    color: var(--color-texto);
}


footer{
    background-color: var(--color-diferencial);
    color: white;
    padding: 20px;
    margin-top: 20px;
}

a img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}